* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial;
}

body {
    background: #000000;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    color: white;
}

.title {
    text-transform: uppercase;
    font-style: italic;
    font-size: 40px;
    color: white;
}

input {
    max-width: 250px;
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: none;
    font-size: 20px;
    border-radius: 20px;
}

.btn {
    background: green;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}

.time {
    color: green;
}

.game__box {
    max-width: 500px;
    width: 100%;
    height: 500px;
    background: #333333;
    box-shadow: 0 0 15px 0 white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ball{
    position: absolute;
    border-radius: 50%;
}
.box{
    position: absolute;
}